In [2]:
import pandas as pd

In [5]:
df = pd.read_csv ("Space_Corrected.csv")
df

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145,Success
...,...,...,...,...,...,...,...,...,...
4319,4319,4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Wed Feb 05, 1958 07:33 UTC",Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
4320,4320,4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA","Sat Feb 01, 1958 03:48 UTC",Juno I | Explorer 1,StatusRetired,NaN,Success
4321,4321,4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Fri Dec 06, 1957 16:44 UTC",Vanguard | Vanguard TV3,StatusRetired,NaN,Failure
4322,4322,4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Sun Nov 03, 1957 02:30 UTC",Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success
4323,4323,4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Fri Oct 04, 1957 19:28 UTC",Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success

In [6]:
df.describe()

        Unnamed: 0  Unnamed: 0.1
count  4324.000000   4324.000000
mean   2161.500000   2161.500000
std    1248.375611   1248.375611
min       0.000000      0.000000
25%    1080.750000   1080.750000
50%    2161.500000   2161.500000
75%    3242.250000   3242.250000
max    4323.000000   4323.000000

In [7]:
df['Company Name']

0          SpaceX
1            CASC
2          SpaceX
3       Roscosmos
4             ULA
          ...
4319      US Navy
4320         AMBA
4321      US Navy
4322    RVSN USSR
4323    RVSN USSR
Name: Company Name, Length: 4324, dtype: object

In [28]:
df.set_index('Company Name')

,Unnamed: 0,Unnamed: 0.1,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
Company Name,,,,,,,,
SpaceX,0,0,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50,Success
CASC,1,1,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
SpaceX,2,2,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
Roscosmos,3,3,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65,Success
ULA,4,4,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145,Success
...,...,...,...,...,...,...,...,...
US Navy,4319,4319,"LC-18A, Cape Canaveral AFS, Florida, USA","Wed Feb 05, 1958 07:33 UTC",Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
AMBA,4320,4320,"LC-26A, Cape Canaveral AFS, Florida, USA","Sat Feb 01, 1958 03:48 UTC",Juno I | Explorer 1,StatusRetired,NaN,Success
US Navy,4321,4321,"LC-18A, Cape Canaveral AFS, Florida, USA","Fri Dec 06, 1957 16:44 UTC",Vanguard | Vanguard TV3,StatusRetired,NaN,Failure
RVSN USSR,4322,4322,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Sun Nov 03, 1957 02:30 UTC",Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success
RVSN USSR,4323,4323,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Fri Oct 04, 1957 19:28 UTC",Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success

In [29]:
g = df.groupby("Company Name")
g

In [30]:
df['Location'].max()

'Xichang Satellite Launch Center, China'

In [31]:
for Company, data in g:
    print("Company Name: ",Company)
    print("\n")
    print ("data: ", data)

Company Name:  AEB


data:        Unnamed: 0  Unnamed: 0.1 Company Name  \
1032        1032          1032          AEB
1221        1221          1221          AEB
1354        1354          1354          AEB

                                               Location  \
1032  VLS Pad, Alc?›ntara Launch Center, Maranh?œo, ...
1221  VLS Pad, Alc?›ntara Launch Center, Maranh?œo, ...
1354  VLS Pad, Alc?›ntara Launch Center, Maranh?œo, ...

                           Datum                 Detail Status Rocket  Rocket  \
1032            Mon Aug 25, 2003  VLS-1 | SATEC, UNOSAT  StatusActive     NaN
1221  Sat Dec 11, 1999 19:40 UTC         VLS-1 | SACI-2  StatusActive     NaN
1354            Sun Nov 02, 1997         VLS-1 | SCD-2A  StatusActive     NaN

         Status Mission
1032  Prelaunch Failure
1221            Failure
1354            Failure
Company Name:  AMBA


data:        Unnamed: 0  Unnamed: 0.1 Company Name  \
3711        3711          3711         AMBA
4294        4294          4294         AMBA
4297        4297          4297         AMBA
4305        4305          4305         AMBA
4309        4309          4309         AMBA
4316        4316          4316         AMBA
4318        4318          4318         AMBA
4320        4320          4320         AMBA

                                          Location  \
3711  LA-5B, RAAF Woomera Range Complex, Australia
4294        LC-5, Cape Canaveral AFS, Florida, USA
4297        LC-5, Cape Canaveral AFS, Florida, USA
4305        LC-5, Cape Canaveral AFS, Florida, USA
4309        LC-5, Cape Canaveral AFS, Florida, USA
4316        LC-5, Cape Canaveral AFS, Florida, USA
4318      LC-26A, Cape Canaveral AFS, Florida, USA
4320      LC-26A, Cape Canaveral AFS, Florida, USA

                           Datum                    Detail  Status Rocket  \
3711            Wed Nov 29, 1967  Redstone Sparta | WRESAT  StatusRetired
4294  Sat Dec 06, 1958 05:44 UTC       Juno II | Pioneer 3  StatusRetired
4297  Thu Oct 23, 1958 03:21 UTC         Juno I | Beacon 1  StatusRetired
4305  Sun Aug 24, 1958 06:17 UTC       Juno I | Explorer 5  StatusRetired
4309  Sat Jul 26, 1958 15:00 UTC       Juno I | Explorer 4  StatusRetired
4316  Wed Mar 26, 1958 17:38 UTC       Juno I | Explorer 3  StatusRetired
4318  Wed Mar 05, 1958 18:27 UTC       Juno I | Explorer 2  StatusRetired
4320  Sat Feb 01, 1958 03:48 UTC       Juno I | Explorer 1  StatusRetired

      Rocket   Status Mission
3711     NaN          Success
4294     NaN  Partial Failure
4297     NaN          Failure
4305     NaN          Failure
4309     NaN          Success
4316     NaN          Success
4318     NaN          Failure
4320     NaN          Success
Company Name:  ASI


data:        Unnamed: 0  Unnamed: 0.1 Company Name  \
1952        1952          1952          ASI
2936        2936          2936          ASI
2998        2998          2998          ASI
3061        3061          3061          ASI
3187        3187          3187          ASI
3298        3298          3298          ASI
3357        3357          3357          ASI
3400        3400          3400          ASI
3780        3780          3780          ASI

                                             Location  \
1952  SM Launch Tab, San Marco Launch Platform, Kenya
2936  SM Launch Tab, San Marco Launch Platform, Kenya
2998  SM Launch Tab, San Marco Launch Platform, Kenya
3061  SM Launch Tab, San Marco Launch Platform, Kenya
3187  SM Launch Tab, San Marco Launch Platform, Kenya
3298  SM Launch Tab, San Marco Launch Platform, Kenya
3357   Santa Rita 2, San Marco Launch Platform, Kenya
3400  SM Launch Tab, San Marco Launch Platform, Kenya
3780  SM Launch Tab, San Marco Launch Platform, Kenya

                           Datum                  Detail  Status Rocket  \
1952  Fri Mar 25, 1988 19:50 UTC  Scout G1 | San Marco 5  StatusRetired
2936  Wed May 07, 1975 22:45 UTC  Scout F1 | Explorer 53  StatusRetired
2998  Tue Oct 15, 1974 07:47 UTC      Scout B1 | Ariel 5  StatusRetired
3061  Mon Feb 18, 1974 10:05 UTC  Scout D1 | San Marco 4  StatusRetired
3187  Wed Nov 15, 1972 22:13 UTC  Scout D1 | Explorer 48  StatusRetired
3298  Mon Nov 15, 1971 05:52 UTC   Scout B | Explorer 45  StatusRetired
3357  Sat Apr 24, 1971 07:32 UTC   Scout B | San Marco 3  StatusRetired
3400  Sat Dec 12, 1970 10:53 UTC   Scout B | Explorer 42  StatusRetired
3780  Wed Apr 26, 1967 10:06 UTC   Scout B | San Marco 2  StatusRetired

      Rocket Status Mission
1952     NaN        Success
2936     NaN        Success
2998     NaN        Success
3061     NaN        Success
3187     NaN        Success
3298     NaN        Success
3357     NaN        Success
3400     NaN        Success
3780     NaN        Success
Company Name:  Arianespace


data:        Unnamed: 0  Unnamed: 0.1 Company Name  \
40            40            40  Arianespace
48            48            48  Arianespace
54            54            54  Arianespace
58            58            58  Arianespace
68            68            68  Arianespace
...          ...           ...          ...
2135        2135          2135  Arianespace
2148        2148          2148  Arianespace
2167        2167          2167  Arianespace
2187        2187          2187  Arianespace
2203        2203          2203  Arianespace

                                               Location  \
40           Site 31/6, Baikonur Cosmodrome, Kazakhstan
48    ELA-3, Guiana Space Centre, French Guiana, France
54           Site 31/6, Baikonur Cosmodrome, Kazakhstan
58    ELA-3, Guiana Space Centre, French Guiana, France
68      ELS, Guiana Space Centre, French Guiana, France
...                                                 ...
2135  ELA-1, Guiana Space Centre, French Guiana, France
2148  ELA-1, Guiana Space Centre, French Guiana, France
2167  ELA-1, Guiana Space Centre, French Guiana, France
2187  ELA-1, Guiana Space Centre, French Guiana, France
2203  ELV-1 (SLV), Guiana Space Centre, French Guian...

                           Datum  \
40    Sat Mar 21, 2020 17:06 UTC
48    Tue Feb 18, 2020 22:18 UTC
54    Thu Feb 06, 2020 21:42 UTC
58    Thu Jan 16, 2020 21:05 UTC
68    Wed Dec 18, 2019 08:54 UTC
...                          ...
2135  Wed May 08, 1985 01:15 UTC
2148  Fri Feb 08, 1985 23:22 UTC
2167  Sat Nov 10, 1984 01:14 UTC
2187  Sat Aug 04, 1984 13:32 UTC
2203  Wed May 23, 1984 01:33 UTC

                                              Detail  Status Rocket  Rocket  \
40                     Soyuz 2.1b/Fregat | OneWeb #3   StatusActive    48.5
48          Ariane 5 ECA | JCSAT-17 & GEO-KOMPSAT 2B   StatusActive     200
54                     Soyuz 2.1b/Fregat | OneWeb #2   StatusActive    48.5
58    Ariane 5 ECA | Eutelsat Konnect BB4A & GSAT-30   StatusActive     200
68      Soyuz ST-A/Fregat-M | CSG-1, CHEOPS & Others   StatusActive     NaN
...                                              ...            ...     ...
2135                  Ariane 3 | GStar-1, Telecom 1B  StatusRetired     NaN
2148             Ariane 3 | Arabsat-1A, Brasilsat-A1  StatusRetired     NaN
2167                 Ariane 3 | Spacenet 2, MARECS-2  StatusRetired     NaN
2187            Ariane 3 | Eutelsat-1 F2, Telecom 1A  StatusRetired     NaN
2203                          Ariane 1 | Spacenet F1  StatusRetired     NaN

     Status Mission
40          Success
48          Success
54          Success
58          Success
68          Success
...             ...
2135        Success
2148        Success
2167        Success
2187        Success
2203        Success

[279 rows x 9 columns]
Company Name:  Arm??e de l'Air


data:        Unnamed: 0  Unnamed: 0.1     Company Name  \
3800        3800          3800  Arm??e de l'Air
3803        3803          3803  Arm??e de l'Air
3903        3903          3903  Arm??e de l'Air
3923        3923          3923  Arm??e de l'Air

                                  Location                       Datum  \
3800  Brigitte, Hammaguir, Algeria, France  Wed Feb 15, 1967 10:06 UTC
3803  Brigitte, Hammaguir, Algeria, France  Wed Feb 08, 1967 08:39 UTC
3903  Brigitte, Hammaguir, Algeria, France  Thu Feb 17, 1966 07:33 UTC
3923  Brigitte, Hammaguir, Algeria, France  Fri Nov 26, 1965 14:47 UTC

                      Detail  Status Rocket  Rocket   Status Mission
3800  Diamant A | Diad?ªme 2  StatusRetired     NaN          Success
3803  Diamant A | Diad?ªme 1  StatusRetired     NaN  Partial Failure
3903    Diamant A | Diapason  StatusRetired     NaN          Success
3923    Diamant A | Ast??rix  StatusRetired     NaN          Success
Company Name:  Blue Origin


data:       Unnamed: 0  Unnamed: 0.1 Company Name  \
71           71            71  Blue Origin
142         142           142  Blue Origin
165         165           165  Blue Origin
229         229           229  Blue Origin
248         248           248  Blue Origin
295         295           295  Blue Origin
405         405           405  Blue Origin
429         429           429  Blue Origin
447         447           447  Blue Origin
467         467           467  Blue Origin
479         479           479  Blue Origin
503         503           503  Blue Origin

                                            Location  \
71   Blue Origin Launch Site, West Texas, Texas, USA
142  Blue Origin Launch Site, West Texas, Texas, USA
165  Blue Origin Launch Site, West Texas, Texas, USA
229  Blue Origin Launch Site, West Texas, Texas, USA
248  Blue Origin Launch Site, West Texas, Texas, USA
295  Blue Origin Launch Site, West Texas, Texas, USA
405  Blue Origin Launch Site, West Texas, Texas, USA
429  Blue Origin Launch Site, West Texas, Texas, USA
447  Blue Origin Launch Site, West Texas, Texas, USA
467  Blue Origin Launch Site, West Texas, Texas, USA
479  Blue Origin Launch Site, West Texas, Texas, USA
503  Blue Origin Launch Site, West Texas, Texas, USA

                          Datum                                     Detail  \
71   Wed Dec 11, 2019 17:55 UTC                        New Shepard | NS-12
142  Thu May 02, 2019 13:35 UTC                        New Shepard | NS-11
165  Wed Jan 23, 2019 15:05 UTC                        New Shepard | NS-10
229  Wed Jul 18, 2018 15:11 UTC  New Shepard | NS-9 (Inflight Escape Test)
248  Sun Apr 29, 2018 17:06 UTC                         New Shepard | NS-8
295            Sun Dec 17, 2017                         New Shepard | NS-7
405  Thu Oct 06, 2016 15:36 UTC  New Shepard | NS-6 (Inflight Escape Test)
429  Sun Jun 19, 2016 14:36 UTC                         New Shepard | NS-5
447            Sat Apr 02, 2016                         New Shepard | NS-4
467            Fri Jan 22, 2016                         New Shepard | NS-3
479            Mon Nov 23, 2015                         New Shepard | NS-2
503            Wed Apr 29, 2015                         New Shepard | NS-1

    Status Rocket  Rocket Status Mission
71   StatusActive     NaN        Success
142  StatusActive     NaN        Success
165  StatusActive     NaN        Success
229  StatusActive     NaN        Success
248  StatusActive     NaN        Success
295  StatusActive     NaN        Success
405  StatusActive     NaN        Success
429  StatusActive     NaN        Success
447  StatusActive     NaN        Success
467  StatusActive     NaN        Success
479  StatusActive     NaN        Success
503  StatusActive     NaN        Success
Company Name:  Boeing


data:        Unnamed: 0  Unnamed: 0.1 Company Name  \
894          894           894       Boeing
895          895           895       Boeing
898          898           898       Boeing
901          901           901       Boeing
915          915           915       Boeing
...          ...           ...          ...
1857        1857          1857       Boeing
1874        1874          1874       Boeing
1875        1875          1875       Boeing
1884        1884          1884       Boeing
1904        1904          1904       Boeing

                                       Location                       Datum  \
894   SLC-17A, Cape Canaveral AFS, Florida, USA  Fri Nov 17, 2006 19:12 UTC
895      SLC-6, Vandenberg AFB, California, USA  Sat Nov 04, 2006 13:53 UTC
898   SLC-17B, Cape Canaveral AFS, Florida, USA  Thu Oct 26, 2006 00:52 UTC
901   SLC-17A, Cape Canaveral AFS, Florida, USA  Mon Sep 25, 2006 18:50 UTC
915      SLC-6, Vandenberg AFB, California, USA  Wed Jun 28, 2006 03:33 UTC
...                                         ...                         ...
1857  SLC-17B, Cape Canaveral AFS, Florida, USA  Mon Dec 11, 1989 18:10 UTC
1874  SLC-17B, Cape Canaveral AFS, Florida, USA  Sun Aug 27, 1989 22:59 UTC
1875  SLC-17A, Cape Canaveral AFS, Florida, USA  Fri Aug 18, 1989 05:58 UTC
1884  SLC-17A, Cape Canaveral AFS, Florida, USA  Sat Jun 10, 1989 22:30 UTC
1904  SLC-17A, Cape Canaveral AFS, Florida, USA  Tue Feb 14, 1989 18:30 UTC

                                     Detail  Status Rocket  Rocket  \
894              Delta II 7925 | GPS IIRM-3  StatusRetired     NaN
895              Delta IV Medium | DMSP F17  StatusRetired     133
898              Delta II 7925-10L | STEREO  StatusRetired     NaN
901              Delta II 7925 | GPS IIRM-2  StatusRetired     NaN
915        Delta IV Medium+ (4,2) | NROL-22  StatusRetired     164
...                                     ...            ...     ...
1857           Delta II 6925 | NAVSTAR II-5  StatusRetired     NaN
1874                 Delta II 6925 | BSB-R1  StatusRetired     NaN
1875           Delta II 6925 | NAVSTAR II-3  StatusRetired     NaN
1884           Delta II 6925 | NAVSTAR II-2  StatusRetired     NaN
1904  Delta II 6925 | NAVSTAR II-1 (USA 35)  StatusRetired     NaN

     Status Mission
894         Success
895         Success
898         Success
901         Success
915         Success
...             ...
1857        Success
1874        Success
1875        Success
1884        Success
1904        Success

[136 rows x 9 columns]
Company Name:  CASC


data:        Unnamed: 0  Unnamed: 0.1 Company Name  \
1              1             1         CASC
5              5             5         CASC
7              7             7         CASC
12            12            12         CASC
14            14            14         CASC
...          ...           ...          ...
3110        3110          3110         CASC
3215        3215          3215         CASC
3375        3375          3375         CASC
3471        3471          3471         CASC
3509        3509          3509         CASC

                                               Location  \
1     Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...
5          LC-9, Taiyuan Satellite Launch Center, China
7       LC-101, Wenchang Satellite Launch Center, China
12         LC-3, Xichang Satellite Launch Center, China
14    Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...
...                                                 ...
3110  Site 138 (LA-2B), Jiuquan Satellite Launch Cen...
3215  Site 138 (LA-2B), Jiuquan Satellite Launch Cen...
3375  Site 5020 (LA-2A), Jiuquan Satellite Launch Ce...
3471  Site 5020 (LA-2A), Jiuquan Satellite Launch Ce...
3509  Site 5020 (LA-2A), Jiuquan Satellite Launch Ce...

                           Datum  \
1     Thu Aug 06, 2020 04:01 UTC
5     Sat Jul 25, 2020 03:13 UTC
7     Thu Jul 23, 2020 04:41 UTC
12    Thu Jul 09, 2020 12:11 UTC
14    Sat Jul 04, 2020 23:44 UTC
...                          ...
3110  Tue Sep 18, 1973 12:12 UTC
3215  Thu Aug 10, 1972 00:32 UTC
3375  Wed Mar 03, 1971 12:15 UTC
3471  Fri Apr 24, 1970 13:35 UTC
3509            Sun Nov 16, 1969

                                                 Detail  Status Rocket  \
1                   Long March 2D | Gaofen-9 04 & Q-SAT   StatusActive
5     Long March 4B | Ziyuan-3 03, Apocalypse-10 & N...   StatusActive
7                              Long March 5 | Tianwen-1   StatusActive
12                          Long March 3B/E | Apstar-6D   StatusActive
14                          Long March 2D | Shiyan-6 02   StatusActive
...                                                 ...            ...
3110                                Feng Bao 1 | JSSW-1  StatusRetired
3215                       Feng Bao 1 | Shiyan Peizhong  StatusRetired
3375                           Long March 1 | Shijian 1  StatusRetired
3471                    Long March 1 | Dong Fang Hong 1  StatusRetired
3509                         Long March 1 | Test flight  StatusRetired

      Rocket Status Mission
1      29.75        Success
5      64.68        Success
7        NaN        Success
12     29.15        Success
14     29.75        Success
...      ...            ...
3110     NaN        Failure
3215     NaN        Success
3375     NaN        Success
3471     NaN        Success
3509     NaN        Failure

[251 rows x 9 columns]
Company Name:  CASIC


data:        Unnamed: 0  Unnamed: 0.1 Company Name  \
368          368           368        CASIC
531          531           531        CASIC
587          587           587        CASIC
1029        1029          1029        CASIC
1079        1079          1079        CASIC

                                             Location  \
368   Site 95, Jiuquan Satellite Launch Center, China
531   Site 95, Jiuquan Satellite Launch Center, China
587            Jiuquan Satellite Launch Center, China
1029           Taiyuan Satellite Launch Center, China
1079           Taiyuan Satellite Launch Center, China

                           Datum                   Detail  Status Rocket  \
368   Thu Mar 02, 2017 23:53 UTC  Kaituozhe 2 | Tiankun-1   StatusActive
531   Fri Nov 21, 2014 06:37 UTC  Kuaizhou 1 | Kuaizhou 2  StatusRetired
587   Wed Sep 25, 2013 04:37 UTC  Kuaizhou 1 | Kuaizhou 1  StatusRetired
1029            Tue Sep 16, 2003       Kaituozhe 1 | PS 2  StatusRetired
1079            Sun Sep 15, 2002       Kaituozhe 1 | PS 1  StatusRetired

      Rocket Status Mission
368      NaN        Success
531      NaN        Success
587      NaN        Success
1029     NaN        Failure
1079     NaN        Failure
Company Name:  CECLES


data:        Unnamed: 0  Unnamed: 0.1 Company Name  \
3299        3299          3299       CECLES
3462        3462          3462       CECLES
3548        3548          3548       CECLES
3613        3613          3613       CECLES

                                               Location  \
3299  ELA-1, Guiana Space Centre, French Guiana, France
3462       LA-5B, RAAF Woomera Range Complex, Australia
3548       LA-5B, RAAF Woomera Range Complex, Australia
3613       LA-5B, RAAF Woomera Range Complex, Australia

                           Datum                  Detail  Status Rocket  \
3299  Thu Nov 04, 1971 21:10 UTC  Europa 2 | Test flight  StatusRetired
3462  Fri Jun 12, 1970 06:06 UTC        Europa 1 | STV-3  StatusRetired
3548  Thu Jul 03, 1969 08:06 UTC        Europa 1 | STV-2  StatusRetired
3613  Fri Nov 29, 1968 09:47 UTC        Europa 1 | STV-1  StatusRetired

      Rocket Status Mission
3299     NaN        Failure
3462     NaN        Failure
3548     NaN        Failure
3613     NaN        Success
Company Name:  CNES


data:        Unnamed: 0  Unnamed: 0.1 Company Name  \
2887        2887          2887         CNES
2935        2935          2935         CNES
2964        2964          2964         CNES
3145        3145          3145         CNES
3285        3285          3285         CNES
3363        3363          3363         CNES
3399        3399          3399         CNES
3485        3485          3485         CNES

                                             Location  \
2887  ELD, Guiana Space Centre, French Guiana, France
2935  ELD, Guiana Space Centre, French Guiana, France
2964  ELD, Guiana Space Centre, French Guiana, France
3145  ELD, Guiana Space Centre, French Guiana, France
3285  ELD, Guiana Space Centre, French Guiana, France
3363  ELD, Guiana Space Centre, French Guiana, France
3399  ELD, Guiana Space Centre, French Guiana, France
3485  ELD, Guiana Space Centre, French Guiana, France

                           Datum                         Detail  \

[140 rows x 9 columns]
Company Name:  US Air Force


data:        Unnamed: 0  Unnamed: 0.1  Company Name  \
2207        2207          2207  US Air Force
2274        2274          2274  US Air Force
2358        2358          2358  US Air Force
2418        2418          2418  US Air Force
2515        2515          2515  US Air Force
...          ...           ...           ...
4287        4287          4287  US Air Force
4289        4289          4289  US Air Force
4290        4290          4290  US Air Force
4293        4293          4293  US Air Force
4307        4307          4307  US Air Force

                                              Location  \
2207           SLC-4W, Vandenberg AFB, California, USA
2274           SLC-4W, Vandenberg AFB, California, USA
2358           SLC-4W, Vandenberg AFB, California, USA
2418           SLC-4W, Vandenberg AFB, California, USA
2515           SLC-4W, Vandenberg AFB, California, USA
...                                                ...
4287  SLC-1W (75-3-4), Vandenberg AFB, California, USA
4289  SLC-1W (75-3-4), Vandenberg AFB, California, USA
4290  SLC-1W (75-3-4), Vandenberg AFB, California, USA
4293           LC-11, Cape Canaveral AFS, Florida, USA
4307         SLC-17A, Cape Canaveral AFS, Florida, USA

                           Datum                            Detail  \
2207  Tue Apr 17, 1984 17:45 UTC         Titan III(24)B | OPS 8424
2274  Sun Apr 17, 1983 18:45 UTC         Titan III(24)B | OPS 2925
2358  Thu Jan 21, 1982 19:36 UTC         Titan III(24)B | OPS 2849
2418  Sat Feb 28, 1981 19:15 UTC         Titan III(24)B | OPS 1166
2515  Mon May 28, 1979 18:14 UTC         Titan III(24)B | OPS 7164
...                          ...                               ...
4287  Wed Jun 03, 1959 20:09 UTC  Thor-DM18 Agena-A | Discoverer 3
4289  Mon Apr 13, 1959 21:18 UTC  Thor-DM18 Agena-A | Discoverer 2
4290  Sat Feb 28, 1959 21:49 UTC  Thor-DM18 Agena-A | Discoverer 1
4293  Thu Dec 18, 1958 23:02 UTC              SM-65B Atlas | SCORE
4307  Sun Aug 17, 1958 12:18 UTC     Thor-DM 18 Able I | Pioneer 0

      Status Rocket  Rocket Status Mission
2207  StatusRetired     NaN        Success
2274  StatusRetired     NaN        Success
2358  StatusRetired     NaN        Success
2418  StatusRetired     NaN        Success
2515  StatusRetired     NaN        Success
...             ...     ...            ...
4287  StatusRetired     NaN        Failure
4289  StatusRetired     NaN        Success
4290  StatusRetired     NaN        Failure
4293  StatusRetired     NaN        Success
4307  StatusRetired     NaN        Failure

[161 rows x 9 columns]
Company Name:  US Navy


data:        Unnamed: 0  Unnamed: 0.1 Company Name  \
4277        4277          4277      US Navy
4285        4285          4285      US Navy
4288        4288          4288      US Navy
4291        4291          4291      US Navy
4300        4300          4300      US Navy
4302        4302          4302      US Navy
4303        4303          4303      US Navy
4304        4304          4304      US Navy
4306        4306          4306      US Navy
4308        4308          4308      US Navy
4310        4310          4310      US Navy
4311        4311          4311      US Navy
4312        4312          4312      US Navy
4314        4314          4314      US Navy
4317        4317          4317      US Navy
4319        4319          4319      US Navy
4321        4321          4321      US Navy

                                               Location  \
4277           LC-18A, Cape Canaveral AFS, Florida, USA
4285           LC-18A, Cape Canaveral AFS, Florida, USA
4288           LC-18A, Cape Canaveral AFS, Florida, USA
4291           LC-18A, Cape Canaveral AFS, Florida, USA
4300           LC-18A, Cape Canaveral AFS, Florida, USA
4302  Douglas F4D Skyray, Naval Air Station Point Mu...
4303  Douglas F4D Skyray, Naval Air Station Point Mu...
4304  Douglas F4D Skyray, Naval Air Station Point Mu...
4306  Douglas F4D Skyray, Naval Air Station Point Mu...
4308  Douglas F4D Skyray, Naval Air Station Point Mu...
4310  Douglas F4D Skyray, Naval Air Station Point Mu...
4311           LC-18A, Cape Canaveral AFS, Florida, USA
4312           LC-18A, Cape Canaveral AFS, Florida, USA
4314           LC-18A, Cape Canaveral AFS, Florida, USA
4317           LC-18A, Cape Canaveral AFS, Florida, USA
4319           LC-18A, Cape Canaveral AFS, Florida, USA
4321           LC-18A, Cape Canaveral AFS, Florida, USA

                           Datum                             Detail  \
4277  Fri Sep 18, 1959 05:20 UTC              Vanguard | Vanguard 3
4285  Mon Jun 22, 1959 20:16 UTC          Vanguard | Vanguard SLV-6
4288  Tue Apr 14, 1959 02:49 UTC          Vanguard | Vanguard SLV-5
4291  Tue Feb 17, 1959 15:55 UTC              Vanguard | Vanguard 2
4300  Fri Sep 26, 1958 15:38 UTC          Vanguard | Vanguard SLV-3
4302            Fri Aug 29, 1958   NOTS-EV-1 Pilot II | Pilot-6 (R3
4303            Tue Aug 26, 1958  NOTS-EV-1 Pilot II | Pilot-5 (R2)
4304            Mon Aug 25, 1958  NOTS-EV-1 Pilot II | Pilot-4 (R1)
4306            Fri Aug 22, 1958  NOTS-EV-1 Pilot II | Pilot-3 (D3)
4308            Tue Aug 12, 1958  NOTS-EV-1 Pilot II | Pilot-2 (D2)
4310            Fri Jul 25, 1958  NOTS-EV-1 Pilot II | Pilot-1 (D1)
4311  Thu Jun 26, 1958 05:00 UTC          Vanguard | Vanguard SLV-2
4312  Wed May 28, 1958 03:46 UTC          Vanguard | Vanguard SLV-1
4314  Mon Apr 28, 1958 02:53 UTC            Vanguard | Vanguard TV5
4317  Mon Mar 17, 1958 12:15 UTC              Vanguard | Vanguard 1
4319  Wed Feb 05, 1958 07:33 UTC          Vanguard | Vanguard TV3BU
4321  Fri Dec 06, 1957 16:44 UTC            Vanguard | Vanguard TV3

      Status Rocket  Rocket   Status Mission
4277  StatusRetired     NaN  Partial Failure
4285  StatusRetired     NaN          Failure
4288  StatusRetired     NaN          Failure
4291  StatusRetired     NaN          Success
4300  StatusRetired     NaN          Failure
4302  StatusRetired     NaN          Failure
4303  StatusRetired     NaN          Failure
4304  StatusRetired     NaN          Failure
4306  StatusRetired     NaN          Failure
4308  StatusRetired     NaN          Failure
4310  StatusRetired     NaN          Failure
4311  StatusRetired     NaN          Failure
4312  StatusRetired     NaN          Failure
4314  StatusRetired     NaN          Failure
4317  StatusRetired     NaN          Success
4319  StatusRetired     NaN          Failure
4321  StatusRetired     NaN          Failure
Company Name:  UT


data:        Unnamed: 0  Unnamed: 0.1 Company Name                       Location  \
3489        3489          3489           UT  Uchinoura Space Center, Japan
3529        3529          3529           UT  Uchinoura Space Center, Japan
3787        3787          3787           UT  Uchinoura Space Center, Japan
3813        3813          3813           UT  Uchinoura Space Center, Japan
3840        3840          3840           UT  Uchinoura Space Center, Japan

                           Datum               Detail  Status Rocket  Rocket  \
3489  Wed Feb 11, 1970 04:25 UTC  Lambda-IV S | Osumi  StatusRetired     NaN
3529            Mon Sep 22, 1969  Lambda-IV S | Osumi  StatusRetired     NaN
3787            Mon Apr 03, 1967  Lambda-IV S | Osumi  StatusRetired     NaN
3813            Tue Dec 20, 1966  Lambda-IV S | Osumi  StatusRetired     NaN
3840            Mon Sep 26, 1966  Lambda-IV S | Osumi  StatusRetired     NaN

     Status Mission
3489        Success
3529        Failure
3787        Failure
3813        Failure
3840        Failure
Company Name:  VKS RF


data:        Unnamed: 0  Unnamed: 0.1 Company Name  \
28            28            28       VKS RF
42            42            42       VKS RF
46            46            46       VKS RF
64            64            64       VKS RF
73            73            73       VKS RF
...          ...           ...          ...
1672        1672          1672       VKS RF
1673        1673          1673       VKS RF
1682        1682          1682       VKS RF
1685        1685          1685       VKS RF
1709        1709          1709       VKS RF

                                     Location                       Datum  \
28     Site 43/4, Plesetsk Cosmodrome, Russia  Fri May 22, 2020 07:31 UTC
42     Site 43/4, Plesetsk Cosmodrome, Russia  Mon Mar 16, 2020 18:28 UTC
46     Site 43/3, Plesetsk Cosmodrome, Russia  Thu Feb 20, 2020 08:24 UTC
64    Site 133/3, Plesetsk Cosmodrome, Russia  Thu Dec 26, 2019 23:11 UTC
73     Site 43/3, Plesetsk Cosmodrome, Russia  Wed Dec 11, 2019 08:54 UTC
...                                       ...                         ...
1672   Site 32/1, Plesetsk Cosmodrome, Russia  Tue Oct 20, 1992 12:58 UTC
1673   Site 43/3, Plesetsk Cosmodrome, Russia  Wed Oct 14, 1992 19:58 UTC
1682  Site 132/1, Plesetsk Cosmodrome, Russia  Wed Aug 12, 1992 05:44 UTC
1685   Site 43/3, Plesetsk Cosmodrome, Russia  Thu Aug 06, 1992 19:30 UTC
1709   Site 43/4, Plesetsk Cosmodrome, Russia  Wed Mar 04, 1992 04:27 UTC

                                                 Detail  Status Rocket  \
28                    Soyuz 2.1b/Fregat-M | Cosmos 2546   StatusActive
42                    Soyuz 2.1b/Fregat-M | Cosmos 2545   StatusActive
46              Soyuz 2.1a/Fregat-M | Meridian-M n†­19L   StatusActive
64    Rokot/Briz KM | Gonets-M ???24, 25, 26 [block-...  StatusRetired
73                      Soyuz 2.1b/Fregat | Cosmos 2544   StatusActive
...                                                 ...            ...
1672                    Tsyklon-3 | Cosmos 2211 to 2216  StatusRetired
1673             Molniya-M /Block ML | Molniya-3 n†­154  StatusRetired
1682                   Cosmos-3M (11K65M) | Cosmos 2208  StatusRetired
1685            Molniya-M /Block NVL | Molniya-1 n†­153  StatusRetired
1709             Molniya-M /Block ML | Molniya-1 n†­152  StatusRetired

      Rocket Status Mission
28       NaN        Success
42       NaN        Success
46      48.5        Success
64      41.8        Success
73      48.5        Success
...      ...            ...
1672     NaN        Success
1673     NaN        Success
1682     NaN        Success
1685     NaN        Success
1709     NaN        Success

[201 rows x 9 columns]
Company Name:  Virgin Orbit


data:      Unnamed: 0  Unnamed: 0.1  Company Name  \
27          27            27  Virgin Orbit

                                             Location  \
27  Cosmic Girl, Mojave Air and Space Port, Califo...

                         Datum                     Detail Status Rocket  \
27  Mon May 25, 2020 19:50 UTC  LauncherOne | Demo Flight  StatusActive

    Rocket Status Mission
27      12        Failure
Company Name:  Yuzhmash


data:        Unnamed: 0  Unnamed: 0.1 Company Name  \
1719        1719          1719     Yuzhmash
3514        3514          3514     Yuzhmash

                                         Location                       Datum  \
1719       Site 32/2, Plesetsk Cosmodrome, Russia  Wed Dec 18, 1991 03:54 UTC
3514  Site 90/20, Baikonur Cosmodrome, Kazakhstan  Sat Nov 01, 1969 10:59 UTC

                                     Detail  Status Rocket  Rocket  \
1719  Tsyklon-3 | Intercosmos 25 & Magion 3  StatusRetired     NaN
3514              Tsyklon-2 | IS Mass Model  StatusRetired     NaN

     Status Mission
1719        Success
3514        Success
Company Name:  i-Space


data:       Unnamed: 0  Unnamed: 0.1 Company Name  \
120         120           120      i-Space

                                            Location  \
120  Site 95, Jiuquan Satellite Launch Center, China

                          Datum                         Detail Status Rocket  \
120  Thu Jul 25, 2019 05:00 UTC  Hyperbola-1 | CAS-7B & Others  StatusActive

     Rocket Status Mission
120     NaN        Success

In [32]:
melted = pd.melt(df, id_vars=["Company Name"], var_name='Detail', value_name='Status Rocket')
melted

      Company Name          Detail Status Rocket
0           SpaceX      Unnamed: 0             0
1             CASC      Unnamed: 0             1
2           SpaceX      Unnamed: 0             2
3        Roscosmos      Unnamed: 0             3
4              ULA      Unnamed: 0             4
...            ...             ...           ...
34587      US Navy  Status Mission       Failure
34588         AMBA  Status Mission       Success
34589      US Navy  Status Mission       Failure
34590    RVSN USSR  Status Mission       Success
34591    RVSN USSR  Status Mission       Success

[34592 rows x 3 columns]

In [33]:
df[0:3001]

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145,Success
...,...,...,...,...,...,...,...,...,...
2996,2996,2996,RVSN USSR,"Site 132/2, Plesetsk Cosmodrome, Russia","Fri Oct 18, 1974 22:36 UTC",Cosmos-3M (11K65M) | Cosmos 689,StatusRetired,NaN,Success
2997,2997,2997,RVSN USSR,"Site 41/1, Plesetsk Cosmodrome, Russia","Fri Oct 18, 1974 15:00 UTC",Voskhod | Cosmos 688,StatusRetired,NaN,Success
2998,2998,2998,ASI,"SM Launch Tab, San Marco Launch Platform, Kenya","Tue Oct 15, 1974 07:47 UTC",Scout B1 | Ariel 5,StatusRetired,NaN,Success
2999,2999,2999,RVSN USSR,"Site 132/2, Plesetsk Cosmodrome, Russia","Fri Oct 11, 1974 11:29 UTC",Cosmos-3M (11K65M) | Cosmos 687,StatusRetired,NaN,Success
3000,3000,3000,RVSN USSR,"Site 133/3, Plesetsk Cosmodrome, Russia","Thu Sep 26, 1974 16:34 UTC",Cosmos-2I (63SM) | Cosmos 686,StatusRetired,NaN,Success

In [34]:
df[['Company Name','Detail','Status Rocket','Status Mission']]

,Company Name,Detail,Status Rocket,Status Mission
0,SpaceX,Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,Success
1,CASC,Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,Success
2,SpaceX,Starship Prototype | 150 Meter Hop,StatusActive,Success
3,Roscosmos,Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,Success
4,ULA,Atlas V 541 | Perseverance,StatusActive,Success
...,...,...,...,...
4319,US Navy,Vanguard | Vanguard TV3BU,StatusRetired,Failure
4320,AMBA,Juno I | Explorer 1,StatusRetired,Success
4321,US Navy,Vanguard | Vanguard TV3,StatusRetired,Failure
4322,RVSN USSR,Sputnik 8K71PS | Sputnik-2,StatusRetired,Success
4323,RVSN USSR,Sputnik 8K71PS | Sputnik-1,StatusRetired,Success

In [38]:
df['Company Name'][df['Status Mission'] == 'Success']

0          SpaceX
1            CASC
2          SpaceX
3       Roscosmos
4             ULA
          ...
4316         AMBA
4317      US Navy
4320         AMBA
4322    RVSN USSR
4323    RVSN USSR
Name: Company Name, Length: 3879, dtype: object

In [44]:
df = pd.read_csv("Space_Corrected.csv", na_values=["NaN",0])
df

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,NaN,NaN,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50,Success
1,1.0,1.0,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2.0,2.0,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3.0,3.0,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65,Success
4,4.0,4.0,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145,Success
...,...,...,...,...,...,...,...,...,...
4319,4319.0,4319.0,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Wed Feb 05, 1958 07:33 UTC",Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
4320,4320.0,4320.0,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA","Sat Feb 01, 1958 03:48 UTC",Juno I | Explorer 1,StatusRetired,NaN,Success
4321,4321.0,4321.0,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Fri Dec 06, 1957 16:44 UTC",Vanguard | Vanguard TV3,StatusRetired,NaN,Failure
4322,4322.0,4322.0,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Sun Nov 03, 1957 02:30 UTC",Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success
4323,4323.0,4323.0,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Fri Oct 04, 1957 19:28 UTC",Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success

In [46]:
df.set_index('Company Name')

,Unnamed: 0,Unnamed: 0.1,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
Company Name,,,,,,,,
SpaceX,NaN,NaN,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50,Success
CASC,1.0,1.0,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
SpaceX,2.0,2.0,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
Roscosmos,3.0,3.0,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65,Success
ULA,4.0,4.0,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145,Success
...,...,...,...,...,...,...,...,...
US Navy,4319.0,4319.0,"LC-18A, Cape Canaveral AFS, Florida, USA","Wed Feb 05, 1958 07:33 UTC",Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
AMBA,4320.0,4320.0,"LC-26A, Cape Canaveral AFS, Florida, USA","Sat Feb 01, 1958 03:48 UTC",Juno I | Explorer 1,StatusRetired,NaN,Success
US Navy,4321.0,4321.0,"LC-18A, Cape Canaveral AFS, Florida, USA","Fri Dec 06, 1957 16:44 UTC",Vanguard | Vanguard TV3,StatusRetired,NaN,Failure
RVSN USSR,4322.0,4322.0,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Sun Nov 03, 1957 02:30 UTC",Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success
RVSN USSR,4323.0,4323.0,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Fri Oct 04, 1957 19:28 UTC",Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success

In [47]:
df = pd.read_csv("Space_Corrected.csv",  na_values={
        'Rocket': [0],
        
    })
df

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145,Success
...,...,...,...,...,...,...,...,...,...
4319,4319,4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Wed Feb 05, 1958 07:33 UTC",Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
4320,4320,4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA","Sat Feb 01, 1958 03:48 UTC",Juno I | Explorer 1,StatusRetired,NaN,Success
4321,4321,4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Fri Dec 06, 1957 16:44 UTC",Vanguard | Vanguard TV3,StatusRetired,NaN,Failure
4322,4322,4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Sun Nov 03, 1957 02:30 UTC",Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success
4323,4323,4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Fri Oct 04, 1957 19:28 UTC",Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success

In [48]:
df[0:15]

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145,Success
5,5,5,CASC,"LC-9, Taiyuan Satellite Launch Center, China","Sat Jul 25, 2020 03:13 UTC","Long March 4B | Ziyuan-3 03, Apocalypse-10 & N...",StatusActive,64.68,Success
6,6,6,Roscosmos,"Site 31/6, Baikonur Cosmodrome, Kazakhstan","Thu Jul 23, 2020 14:26 UTC",Soyuz 2.1a | Progress MS-15,StatusActive,48.5,Success
7,7,7,CASC,"LC-101, Wenchang Satellite Launch Center, China","Thu Jul 23, 2020 04:41 UTC",Long March 5 | Tianwen-1,StatusActive,NaN,Success
8,8,8,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA","Mon Jul 20, 2020 21:30 UTC",Falcon 9 Block 5 | ANASIS-II,StatusActive,50,Success
9,9,9,JAXA,"LA-Y1, Tanegashima Space Center, Japan","Sun Jul 19, 2020 21:58 UTC",H-IIA 202 | Hope Mars Mission,StatusActive,90,Success
10,10,10,Northrop,"LP-0B, Wallops Flight Facility, Virginia, USA","Wed Jul 15, 2020 13:46 UTC",Minotaur IV | NROL-129,StatusActive,46,Success
11,11,11,ExPace,"Site 95, Jiuquan Satellite Launch Center, China","Fri Jul 10, 2020 04:17 UTC","Kuaizhou 11 | Jilin-1 02E, CentiSpace-1 S2",StatusActive,28.3,Failure
12,12,12,CASC,"LC-3, Xichang Satellite Launch Center, China","Thu Jul 09, 2020 12:11 UTC",Long March 3B/E | Apstar-6D,StatusActive,29.15,Success
13,13,13,IAI,"Pad 1, Palmachim Airbase, Israel","Mon Jul 06, 2020 01:00 UTC",Shavit-2 | Ofek-16,StatusActive,NaN,Success
14,14,14,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Sat Jul 04, 2020 23:44 UTC",Long March 2D | Shiyan-6 02,StatusActive,29.75,Success